<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>

    <add name="CONEXION_SQL"
         providerName="System.Data.SqlClient"
         connectionString= "Data Source=DESKTOP-8JF8NHG\SQLEXPRESS; 
                           Initial Catalog=DB_AEROPUERTO_PROGRA_III;
                           Integrated Security=SSPI;
                           User ID=DESKTOP-8JF8NHG\Carlos;
                           Password=cagn201072466"/>
  </connectionStrings>


  <appSettings>
    <!--Tipos de Aviones-->
    <add key ="listar_tipos_aviones" value="sp_TiposAviones"/>
    <add key ="filtar_tipos_aviones" value="sp_filtrar_tipos_aviones"/>
    <add key ="Eliminar_tipos_aviones" value="sp_EliminarTiposAviones"/>
    <add key ="Insertar_TipoAviones" value="Insertar_TipoAviones"/>

    <!--Clientes-->
    <add key="Listar_Clientes" value="dbo.sp_Clientes"/>
    <add key="Filtrar_Clientes" value="dbo.sp_FiltrarClientes"/>
    <add key="Eliminar_Clientes" value="dbo.sp_EliminarClientes"/>

    <!--Estados-->
    <add key="Listar_Estados" value="dbo.sp_Estados"/>
    <add key="Filtrar_Estados" value="dbo.sp_FiltrarEstados"/>
    <add key="Eliminar_Estados" value="dbo.sp_EliminarEstados"/>

    <!--Aerolineas-->
    <add key="Listar_Aerolineas" value="sp_Aerolineas"/>
    <add key="Filtrar_Aerolineas" value="dbo.sp_FiltrarAerolineas"/>
    <add key="Eliminar_Aerolineas" value="dbo.sp_EliminarAerolineas"/>

    <!--Aviones-->
    <add key="Listar_Aviones" value="sp_Aviones"/>
    <add key="Filtrar_Aviones" value="dbo.sp_FiltrarAviones"/>
    <add key="Eliminar_Aviones" value="dbo.sp_EliminarAviones"/>

    <!--Empleados-->
    <add key="Listar_Empleados" value="dbo.sp_Empleados"/>
    <add key="Filtrar_Empleados" value="dbo.sp_FiltrarEmpleados"/>
    <add key="Eliminar_Empleados" value="dbo.sp_EliminarEmpleados"/>

    <!--Categorias de Vuelos-->
    <add key="Listar CategoriasVuelos" value="dbo.sp_CategoriasVuelos"/>
    <add key="Filtrar CategoriasVuelos" value="dbo.sp_FiltrarCategoriasVuelos"/>
    <add key="Eliminar_CategoriasVuelos" value="dbo.sp_EliminarCategoriasVuelos"/>

    <!--Tipos de Clientes-->
    <add key ="Filtrar_TiposClientes" value ="dbo.sp_FiltrarTiposClientes"/>
    <add key ="Listar_TiposClientes" value ="dbo.sp_TiposClientes"/>
    <add key ="Eliminar_TiposClientes" value ="dbo.sp_EliminarTiposClientes"/>

    <!--Tipos de Empleados-->
    <add key ="Filtrar_TiposEmpleados" value ="dbo.sp_FiltrarTiposEmpleados"/>
    <add key ="Listar_TiposEmpleados" value ="dbo.sp_TiposEmpleados"/>
    <add key ="Eliminar_TiposEmpleados" value ="dbo.sp_EliminarTiposEmpleados"/>

    <!--Vuelos-->
    <add key ="Filtrar_Vuelos" value ="dbo.sp_FiltrarVuelos"/>
    <add key ="Listar_Vuelos" value ="dbo.sp_Vuelos"/>
    <add key ="Eliminar_Vuelos" value ="dbo.sp_EliminarVuelos"/>
    <add key ="Insertar_Vuelos" value ="Insertar_Vuelos"/>
    

    <!--Usuarios-->
    <add key ="Filtrar_Usuarios" value ="dbo.sp_FiltrarUsuarios"/>
    <add key ="Listar_Usuarios" value ="dbo.sp_Usuarios"/>
    <add key ="Eliminar_Usuarios" value ="dbo.sp_EliminarUsuarios"/>

    <!--Destinos-->
    <add key="Listar Destinos" value="dbo.sp_Destinos"/>
    <add key="Filtrar Destinos" value="dbo.sp_FiltrarDestinos"/>
    <add key="Eliminar Destinos" value="dbo.sp_EliminarDestinos"/>

    <!--Paises-->
    <add key="Listar Paises" value="dbo.sp_Paises"/>
    <add key="Filtrar Paises" value="dbo.sp_FiltrarPaises"/>
    <add key="Eliminar_Paises" value="dbo.sp_EliminarPaises"/>



  </appSettings>

</configuration>